body
{
    font: Arial, sans-serif;
}

.menuButtons
{
display: block;
width: 180px;
margin: 0 auto;
    
}
#translated li 
{
    border-style:ridge;
    border-width:4px;
    border-color:#B26B00;
}
.floatLeft{
    float:left;
    font-size:1.2em;
    height:9px;
    margin: 12px;
}
.floatRight{
    float:right;
    height:15px;
    margin: 12px;
}
#translated li div div
{
    background-color: rgba(120,155,200,.8);
    
    
}
.appendedButton
{
    height:10px;
    margin: -3px;
    padding: 4px;
}

